:root {
  --secondary: gray;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  text-align: center;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0;
}

.error {
  color: red !important;
}

.launch-list {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.launch-list__wrapper {
  display: flex;
  align-items: center;
  width: 100vw;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-left: 15%;
}
.launch-list_not-dragging {
  scroll-behavior: smooth;
  cursor: grab;
}
.launch-list_dragging {
  cursor: grabbing;
}
.launch-list__wrapper::-webkit-scrollbar {
  display: none;
}

.logo {
  animation: 2s fade-in;
  width: 50%;
  margin-left: 10%;
}
.launch-item {
  animation: 500ms fade-in;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 15px;
}

.launch-item__logo {
  width: 150px;
  height: 150px;
  margin-block-end: 1em;
  pointer-events: none;
}
.launch-item__title {
  font-size: 12px;
  color: var(--secondary);
}
.launch-item__mission-name {
  transition: 300ms;
  display: block;
  max-width: 150px;
}
.launch-item__mission-name:hover {
  color: red;
}

.roadster {}
.roadster__item {
  margin-right: 5px;
  color: var(--secondary);
  font-size: 13px;
  font-weight: lighter;
  animation: 500ms fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
